body, html, main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}


#flashSection div{

    border: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10%;

}

#flashSection {
    width: 80%;
}