body, html, main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}


#flashSection div{

    border: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10%;

}

#flashSection {
    width: 80%;
}

#reset {
    position: absolute;
    display: flex;
    justify-self: center;
    justify-content: center;
    bottom: 30px;
    background: linear-gradient(135deg, #1100d6, #1b0096);
    border: transparent;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    color: white;
}